
{% extends "index.html" %}

{% block main %}

    <div class="page--index">

        <div class="head">

            <div class="container">

                <a id="welcome"></a>

                <div class="col-md-8 offset-md-2">

                    <h1>
                        The<br>Donald Gordon Foundation
                    </h1>

                    <p>
                        Since 1971
                    </p>

                    <ul>
                        <li>
                            <a href="#anchor-about">About us</a>
                        </li>
                        <li>
                            <a href="#anchor-what-we-do">What we do</a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

        <div class="how-we-help">

            <a id="projects"></a>

            <div class="container">

                <h2>
                    How we help
                </h2>

                <div class="container-fluid helpers">

                    <div class="row">

                        <div class="do-column selected col-sm">

                            <a href="#" class="encouraging-excellence">
                                <span>Encouraging Excellence</span>
                            </a>

                        </div>

                        <div class="do-column col-sm">

                            <a href="#" class="protecting-democracy">
                                <span>Protecting Democracy</span>
                            </a>

                        </div>

                        <div class="do-column col-sm">

                            <a href="#" class="caring-for-community">
                                <span>Caring for Community</span>
                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="our-projects">

            <div class="container">

                <h2>
                    Our Flagship Projects
                </h2>

                <div class="do-box selected encouraging-excellence">

                    <ul>
                        <li class="project-gibs">
                            <span>The Gordan Institute of Business Science (GIBS)</span>
                        </li>
                        <li class="project-wdgmc">
                            <span>The Wits Donald Gordan Medical Centre (WDGMC)</span>
                        </li>
                    </ul>

                </div>

                <div class="do-box protecting-democracy">

                    <ul>
                        <li class="project-section27">
                            <span>Section27</span>
                        </li>
                        <li class="project-daily-maverick">
                            <span>Daily Maverick</span>
                        </li>
                    </ul>

                </div>

                <div class="do-box caring-for-community">

                    <ul>
                        <li class="project-chevrah">
                            <span>The Chevrah Kadisha</span>
                        </li>
                    </ul>

                </div>

                <div class="do-copy project-cde">

                    {% include "pages/index/copy/cde.html" %}

                </div>

                <div class="do-copy project-gibs">

                    {% include "pages/index/copy/gibs.html" %}

                </div>

                <div class="do-copy project-stias">

                    {% include "pages/index/copy/stias.html" %}

                </div>

                <div class="do-copy project-wdgmc">

                    {% include "pages/index/copy/wdgmc.html" %}

                </div>

                <div class="do-copy project-section27">

                    {% include "pages/index/copy/section27.html" %}

                </div>

                <div class="do-copy project-daily-maverick">

                    {% include "pages/index/copy/daily-maverick.html" %}

                </div>

                <div class="do-copy project-chevrah">

                    {% include "pages/index/copy/chevrah.html" %}

                </div>

            </div>

        </div>

        <div class="about">

            <a id="about"></a>

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <h2>About</h2>

                    </div>

                </div>

            </div>

        </div>

        <div class="trustees">

            <div class="container">

                <p>
                    We are one of South Africa's largest and oldest private foundations, having been established in 1971. A South African by birth, Sir Donald Gordon is the founder and benefactor of The Donald Gordon Foundation.

                    He is also a benefactor of British institutions and other charities including the Royal Opera House and the Welsh Millennium Centre.
                </p>

            </div>

        </div>

        <div class="what-we-do">

            <a id="what-we-do"></a>

            <h2>What We Do</h2>

            <div class="container">

                <div class="col-md-10 offset-md-1 copy">

                    <h2>The Foundation</h2>

                    <p>
                        The purpose of the Foundation is to make donations "to or for the
                        benefit of any public benefit organisation approved by the Commissioner:
                        South African Revenue Services in accordance with section 10(1)(cN)
                        read together with section 30 of the Income Tax Act of 1962, as amended.”
                    </p>

                    <p>
                        A ‘public benefit organisation' means any organisation of a public
                        character which is a company formed and incorporated under section
                        21 of the Companies Act, 1973 (Act No. 61 of 1973), or a trust or
                        an association of persons; and of which the sole object is subject
                        to certain conditions, to carry on one or more public benefit activities
                        in a non-profit manner in the Republic of South Africa.
                    </p>

                    <p>
                        In short, South African law entitles us to fund any of the following
                        activities which, having regard to the needs, interests and well-being
                        of the general public, have been determined by the Minister of Finance
                        to be of a philanthropic or benevolent nature for the purposes of
                        Section 30 of the Income Tax Act. Within these fields, the Foundation
                        directs its grantmaking to those areas that it identifies as being
                        of interest. We currently make grants, on a selective basis, to:
                    </p>

                    <ul class="boxes">
                        <li class="medical-education">
                            Higher education institutions with a particular (but not exclusive) focus on business education.
                        </li>
                        <li class="business-education">
                            Medical education and training.
                        </li>
                        <li class="arts-and-culture">
                            Cultural affairs and the performing arts.
                        </li>
                        <li class="conservation-and-environment">
                            Human Rights, the Rule of Law and the safegaurding of the South African Constitution
                        </li>
                        <li class="welfare">
                            Human welfare with a particular focus on the poor and needy in the South African Jewish community.
                        </li>
                    </ul>

                    <h3>
                        <span>General Notes</span>
                    </h3>

                    <p>
                        All of the Foundation's grantmaking has a South African focus. Whilst
                        we do not fund organisations outside South Africa we do co-operate
                        with international organisations that have an interest in the region.
                        We recognise the importance of internationalisation and globalisation
                        but, sadly, Southern Africa's needs are such that even if we had
                        infinitely more resources than we do local needs could never be met.
                    </p>

                    <p>
                        The Foundation is absolutely clear about its priorities so as to
                        save prospective grantees from wasting their valuable time and
                        scarce resources in preparing proposals for rejection.
                    </p>

                    <p>
                        We neither encourage nor generally consider unsolicited proposals.
                        Should you feel compelled to ignore this reality, a short letter
                        setting forth the need, the nature, and the amount of the request
                        and the justification for it would, as a matter of courtesy, be
                        considered. Applicants must recognise, however, that the Foundation
                        is proactive and we have our own programmes and projects. We are
                        not reactive and it is very rare that we make a grant in response
                        to an unsolicited proposal, even if it falls within our defined
                        areas of interest.
                    </p>

                    <h3>
                        <span>What we do not fund</span>
                    </h3>

                    <ul>
                        <li>
                            We do not fund individuals, no matter how deserving. We cannot
                            offer assistance to individuals for medical care, study,
                            scholarships or fellowships even if their applications fall
                            within our defined areas of interest.
                        </li>
                        <li>
                            We do not fund the organisation of conferences, seminars or
                            symposiums nor do we fund travel thereto or attendance thereof.
                        </li>
                        <li>
                            We do not support fundraising events. Banquets, Golf Days, Dinners,
                            Premieres and the like may be an excellent way for NGOs to raise
                            funds from the general public and non-traditional donors
                            but we do not participate in them.
                        </li>
                        <li>
                            Similarly, we do not support centralised or generic fundraising or
                            service organisations. Whilst we respect the work of
                            Community Chests, Rotary, Round Table, Lion's, Bnai Brith and the
                            like, we feel that they should focus their efforts on
                            the general public rather than tap into the relatively small pool
                            of funds in South African foundations, whether
                            corporate or private.
                        </li>
                        <li>
                            We do not fund sports events, sporting facilities or sports
                            clubs except for sports for the disabled.
                        </li>
                        <li>
                            We do not fund adult literacy or numeracy training programmes.
                        </li>
                        <li>
                            We do not fund organisations dealing with issues related to land or housing.
                        </li>
                        <li>
                            We do not contribute to endowment funds.
                        </li>
                        <li>
                            We do not make any loans nor do we fund micro-lenders.
                        </li>
                        <li>
                            We do not assume the duties of the government. Whilst we co-operate
                            with the state we believe that our grantmaking
                            should be supplemental and enhance or add value to their expenditure.
                            Consequently, we do not build schools or fund
                            primary health care. Were we to do so we would, in effect,
                            be paying secondary voluntary taxes and undermining the
                            foundations of accountability upon which a functioning civil society rests.
                        </li>
                        <li>
                            We are prepared to operate at the cutting edge and to consider
                            pioneering projects that would, perhaps, be too risky for
                            the government to fund with public money.
                        </li>
                        <li>
                            The Constitution of the Republic of South Africa enshrines the
                            world's finest Bill of Rights. In terms of section 9(3) of the
                            Constitution we would not support an organisation that unfairly
                            discriminates, directly or indirectly, against anyone on one
                            or more grounds, including race, gender, sex, pregnancy, marital
                            status, ethnic or social origin, colour, sexual orientation,
                            age, disability, religion, conscience, belief, culture, language and birth.
                        </li>
                    </ul>

                </div>

            </div>

        </div>

        <div class="contacting-us">

            <a id="contact"></a>

            <div class="container">

                <div class="col-md-8 offset-md-2 copy">

                    <h2>Contacting Us</h2>

                    <p>
                        We neither encourage nor generally consider unsolicited proposals.
                        Should you feel compelled to ignore this reality, a short letter
                        setting forth the need, the nature, and the amount of the request
                        and the justification for it would, as a matter of courtesy, be
                        considered. Please do not be offended should we not respond to your proposal.
                    </p>

                    <p>
                        Applicants must recognise, however, that the Foundation is proactive
                        and we have our own programmes and projects. We are not reactive and
                        it is very rare that we make a grant in response to an unsolicited
                        proposal, even if it falls within our defined areas of interest.
                        Please read the About us section for a clear list of what is within
                        our scope of consideration.
                    </p>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
