
{% extends "index.html" %}

{% block main %}

    <div class="page--index">

        <div class="head">

            <div class="container">

                <div class="col-md-8 offset-md-2">

                    <h1>
                        The<br />Donald Gordon Foundation
                    </h1>

                    <p>
                        One of South Africa's largest and oldest private foundations.
                        <br />
                        We hope to share some of our exciting projects and our
                        passionate uplifting hopes for South Africa.
                    </p>

                    <p>
                        A South African by birth, Donald Gordon is the creator and financial
                        benefactor of The Donald Gordon Foundation. He has also become a
                        benefactor of British institutions and other charities such as the 
                        Royal Opera House, the British Museum, the Welsh Millennium Centre,
                        Sadler’s Wells and The Globe Theatre.
                    </p>

                    <ul>
                        <li>
                            <a href="">About us</a>
                        </li>
                        <li>
                            <a href="">What we do</a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

        <div class="how-we-help">

            <div class="container">

                <h2>
                    How we help
                </h2>

                <div class="container-fluid">

                    <div class="row">

                        <div class="do-column selected col-sm">

                            <a href="#" class="medical-education">
                                <span>Medical Education</span>
                            </a>

                        </div>

                        <div class="do-column col-sm">

                            <a href="#" class="business-education">
                                <span>Business Education</span>
                            </a>

                        </div>

                        <div class="do-column col-sm">

                            <a href="#" class="arts-and-culture">
                                <span>Arts and Culture</span>
                            </a>

                        </div>

                        <div class="do-column col-sm">

                            <a href="#" class="conservation-and-environment">
                                <span>Conservation &amp; Environment</span>
                            </a>

                        </div>

                        <div class="do-column col-sm">

                            <a href="#" class="welfare">
                                <span>Welfare</span>
                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="our-projects">

            <div class="container">

                <h2>
                    Our Projects
                </h2>

                <div class="do-box selected medical-education">

                    <ul>
                        <li class="the-donald-gordon-medical-centre">
                            <span>The Donald Gordon Medical Centre</span>
                        </li>
                    </ul>

                </div>

                <div class="do-box business-education">

                    <ul>
                        <li class="the-gordon-institute-of-business-science">
                            <span>The Gordon Institute of Business Science</span>
                        </li>
                        <li class="wits-business-school">
                            <span>WITS Business School</span>
                        </li>
                        <li class="the-donald-gordon-chair-in-business-law">
                            <span>The Donald Gordon Chair in Business Law</span>
                        </li>
                        <li class="the-donald-gordon-chair-in-applied-accounting">
                            <span>The Donald Gordon Chair in Applied Accounting</span>
                        </li>
                    </ul>

                </div>

                <div class="do-box arts-and-culture">

                    <ul>
                        <li class="king-edward-school">
                            <span>King Edward (VII) School</span>
                        </li>
                        <li class="creative-voices">
                            <span>Creative Voices</span>
                        </li>
                        <li class="royal-opera-and-wales-millennium-centre">
                            <span>Royal Opera & Wales Millennium Centre</span>
                        </li>
                    </ul>

                </div>

                <div class="do-box conservation-and-environment">

                    <ul>
                        <li class="peace-parks-foundation">
                            <span>Peace Parks Foundation</span>
                        </li>
                    </ul>

                </div>

                <div class="do-box welfare">

                    <ul>
                        <li class="jewish-welfare">
                            <span>Jewish Welfare</span>
                        </li>
                        <li class="the-chevra-kadisha">
                            <span>The Chevra Kadisha</span>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

        <div class="about">

            <div class="container">

                <div class="copy">

                    <h2>About</h2>

                    <p>
                        The Donald Gordon Foundation, was established on
                        3rd August 1971 by Sir Donald Gordon, the founder
                        of the Liberty Life Group in South Africa and Liberty
                        International (now Intu Properties plc and Capital
                        &amp; Counties Properties PLC) in the United Kingdom.
                    </p>

                    <p>
                        We are one of the largest and oldest private
                        foundations in South Africa.
                    </p>

                </div>

            </div>

        </div>

        <div class="trustees">

            <div class="container">

                <h2>Our Trustees</h2>

                <ul>
                    <li>
                        <a href="">Donald Gordon</a>
                    </li>
                    <li>
                        <a href="">Professor Michael Katz.</a>
                    </li>
                    <li>
                        <a href="">Graeme Gordon</a>
                    </li>
                    <li>
                        <a href="">Hylton Appelbaum</a>
                    </li>
                    <li>
                        <a href="">Leonard Brehm</a>
                    </li>
                    <li>
                        <a href="">Wendy Appelbaum</a>
                    </li>
                    <li>
                        <a href="">Raymond Fine</a>
                    </li>
                    <li>
                        <a href="">Richard Gordon</a>
                    </li>
                </ul>

            </div>

        </div>

        <div class="what-we-do">

            <div class="container">

                <h2>What We Do</h2>

                <h3>The Foundation</h3>

                <p>
                    The purpose of the Foundation is to make donations "to or for the
                    benefit of any public benefit organisation approved by the Commissioner:
                    South African Revenue Services in accordance with section 10(1)(cN)
                    read together with section 30 of the Income Tax Act of 1962, as amended.”
                </p>

                <p>
                    A ‘public benefit organisation’ means any organisation of a public
                    character which is a company formed and incorporated under section
                    21 of the Companies Act, 1973 (Act No. 61 of 1973), or a trust or
                    an association of persons; and of which the sole object is subject
                    to certain conditions, to carry on one or more public benefit activities
                    in a non-profit manner in the Republic of South Africa.
                </p>

                <p>
                    In short, South African law entitles us to fund any of the following
                    activities which, having regard to the needs, interests and well-being
                    of the general public, have been determined by the Minister of Finance
                    to be of a philanthropic or benevolent nature for the purposes of
                    Section 30 of the Income Tax Act. Within these fields, the Foundation
                    directs its grantmaking to those areas that it identifies as being
                    of interest. We currently make grants, on a selective basis, to:
                </p>

                <ul>
                    <li>
                        Higher education institutions with a particular (but not exclusive) focus on business education.
                    </li>
                    <li>
                        Medical education and training.
                    </li>
                    <li>
                        Cultural affairs and the performing arts.
                    </li>
                    <li>
                        Conservation and the environment.
                    </li>
                    <li>
                        Human welfare with a particular focus on the poor and needy in the South African Jewish community.
                    </li>
                </ul>

                <h3>
                    General Notes
                </h3>

                <p>
                    All of the Foundation’s grantmaking has a South African focus. Whilst
                    we do not fund organisations outside South Africa we do co-operate
                    with international organisations that have an interest in the region.
                    We recognise the importance of internationalisation and globalisation
                    but, sadly, Southern Africa’s needs are such that even if we had
                    infinitely more resources than we do local needs could never be met.
                </p>

                <p>
                    The Foundation is absolutely clear about its priorities so as to
                    save prospective grantees from wasting their valuable time and
                    scarce resources in preparing proposals for rejection.
                </p>

                <p>
                    We neither encourage nor generally consider unsolicited proposals.
                    Should you feel compelled to ignore this reality, a short letter
                    setting forth the need, the nature, and the amount of the request
                    and the justification for it would, as a matter of courtesy, be
                    considered. Applicants must recognise, however, that the Foundation
                    is proactive and we have our own programmes and projects. We are
                    not reactive and it is very rare that we make a grant in response
                    to an unsolicited proposal, even if it falls within our defined
                    areas of interest.
                </p>

                <h2>
                    What we do not fund
                </h2>

                <ul>
                    <li>
                        We do not fund individuals, no matter how deserving. We cannot
                        offer assistance to individuals for medical care, study,
                        scholarships or fellowships even if their applications fall
                        within our defined areas of interest.
                    </li>
                    <li>
                        We do not fund the organisation of conferences, seminars or
                        symposiums nor do we fund travel thereto or attendance thereof.
                    </li>
                    <li>
                        We do not support fundraising events. Banquets, Golf Days, Dinners,
                        Premieres and the like may be an excellent way for NGOs to raise
                        funds from the general public and non-traditional donors
                        but we do not participate in them.
                    </li>
                    <li>
                        Similarly, we do not support centralised or generic fundraising or
                        service organisations. Whilst we respect the work of
                        Community Chests, Rotary, Round Table, Lion’s, Bnai Brith and the
                        like, we feel that they should focus their efforts on
                        the general public rather than tap into the relatively small pool
                        of funds in South African foundations, whether
                        corporate or private.
                    </li>
                    <li>
                        We do not fund sports events, sporting facilities or sports
                        clubs except for sports for the disabled.
                    </li>
                    <li>
                        We do not fund adult literacy or numeracy training programmes.
                    </li>
                    <li>
                        We do not fund organisations dealing with issues related to land or housing.
                    </li>
                    <li>
                        We do not contribute to endowment funds.
                    </li>
                    <li>
                        We do not make any loans nor do we fund micro-lenders.
                    </li>
                    <li>
                        We do not assume the duties of the government. Whilst we co-operate
                        with the state we believe that our grantmaking
                        should be supplemental and enhance or add value to their expenditure.
                        Consequently, we do not build schools or fund
                        primary health care. Were we to do so we would, in effect,
                        be paying secondary voluntary taxes and undermining the
                        foundations of accountability upon which a functioning civil society rests.
                    </li>
                    <li>
                        We are prepared to operate at the cutting edge and to consider
                        pioneering projects that would, perhaps, be too risky for
                        the government to fund with public money.
                    </li>
                    <li>
                        The Constitution of the Republic of South Africa enshrines the
                        world’s finest Bill of Rights. In terms of section 9(3) of the
                        Constitution we would not support an organisation that unfairly
                        discriminates, directly or indirectly, against anyone on one
                        or more grounds, including race, gender, sex, pregnancy, marital
                        status, ethnic or social origin, colour, sexual orientation,
                        age, disability, religion, conscience, belief, culture, language and birth.
                    </li>
                </ul>

            </div>

        </div>

        <div class="related-links">

            <div class="container">

                <h2>Related links</h2>

                <div class="cappo-logo"></div>

                <p>
                    Liberty International is a major UK FTSE-100 ranking listed property
                    company with shareholders'funds of nearly £4.5 billion and property
                    assets now over £7.2 billion|
                </p>

                <ul>
                    <li>
                        Capital Shopping Centres, the leading participant in the UK regional shopping centre industry, owning Lakeside,
                        Thurrock; MetroCentre, Gateshead; Braehead, Glasgow; six major in-town regional centres; and engaged on a
                        substantial development programme, involving both new centres, in Norwich, Cardiff and Oxford, and extensions to
                        existing centres;
                    </li>
                    <li>
                        Capital &amp; Counties, a successful retail and commercial property business, increasingly concentrated in Central London,
                        the south-east of England and California, USA; and
                    </li>
                    <li>
                        Investment activities, where Liberty International looks to use the substantial capital resources at its disposal to access
                        profitable real estate-related financial market opportunities.
                    </li>
                </ul>

                <h3>
                    Other Projects
                </h3>

            </div>

        </div>

        <div class="contacting-us">

            <div class="container">

                <h2>Contacting Us</h2>

                <p>
                    We neither encourage nor generally consider unsolicited proposals. Should you feel compelled to ignore this reality,
                    a short letter setting forth the need, the nature, and the amount of the request and the justification for it would,
                    as a matter of courtesy, be considered.
                </p>

                <p>
                    Applicants must recognise, however, that the Foundation is proactive and we have our own programmes and projects.
                    We are not reactive and it is very rare that we make a grant in response to an unsolicited proposal, even if it falls within
                    our defined areas of interest. Please read the About us section for a clear list of what is within our scope of consideration.
                </p>

            </div>

        </div>

    </div>

{% endblock %}
